@import "tailwindcss";

@theme {
  --color-navy: #1a202c;
  --color-redAccent: #e50000;
  --color-offWhite: #fafafa;
}

@layer base {
  /* Global fix for horizontal scrolling */
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    /* Main background is now Navy */
    @apply bg-navy text-offWhite font-sans;
  }
  
  /* Resetting borders for new layered structure */
  section {
    @apply border-none py-16;
  }
}